[Unit]
Description=DC Metro Display Service
After=network.target

[Service]
Type=simple
Restart=on-failure
User=robmailley
ExecStart=/home/robmailley/rpi-metro-display/run.sh

[Install]
WantedBy=multi-user.target

